{{>layout/header}}

<div class="mv_lg d-flex justify-content-center">
    <div>
        <div class="title_lg">야구장 등록</div>
        <br />
        <form action="">
            <input id="stadium" type="text" maxlength="60" placeholder="홈구장" required />
            <button class="btn_register">등록</button>
        </form>
    </div>
</div>